parameters:
  timeout: 60
  continueOnError: true

steps:  
  - task : AzureCLI@2
    displayName: "Build Configuration File"
    timeoutInMinutes: ${{ parameters.timeout }}
    inputs:
      azureSubscription: 'target-subscription'
      scriptLocation: inlineScript
      scriptType: 'bash'
      inlineScript: |
        if [ "$SYSTEM_DEBUG" = "true" ]; then
          set -x
          AZHPC_OPTION="--debug"
        fi

        echo "********************************************************************"
        echo "*                  INIT CONFIG VARIABLES                           *"
        echo "********************************************************************"
        
        azhpc_variables=$(printenv | grep AZHPC_VARIABLES)
        for item in $azhpc_variables; do
            key=$(echo $item | cut -d '=' -f1)
            value=$(echo $item | cut -d '=' -f2)
            variable=${key#AZHPC_VARIABLES_}
            variable=${variable,,}
            if [ "$init_variables" == "" ]; then
                init_variables+="-v $variable=$value"
            else
                init_variables+=",$variable=$value"
            fi
        done

        echo $init_variables
        . install.sh
        conf_dir=$(dirname $AZHPC_CONFIG)
        if [ "$PROJECT_DIR" = "" ]; then
            PROJECT_DIR=${conf_dir##*/}
        fi
        config_file=$(basename $AZHPC_CONFIG)

        echo "Calling azhpc-init"
        azhpc-init $AZHPC_OPTION -c $BUILD_REPOSITORY_LOCALPATH/$conf_dir/$config_file -d $PROJECT_DIR $init_variables || exit 1
        pushd $PROJECT_DIR

        cp $BUILD_REPOSITORY_LOCALPATH/$conf_dir/init.sh .

        ./init.sh

        echo "Content of config.json"
        jq '.' config.json
        echo "Content of variables.json"
        jq '.' variables.json

        if [ -e prereqs.json ]; then
          echo "Content of prereqs.json"
          jq '.' prereqs.json
          azhpc-build $AZHPC_OPTION --no-vnet -c prereqs.json
        fi

        # Override AZHPC_CONFIG so that the build command executed by the job pipeline will use this config config_file
        export AZHPC_CONFIG=$conf_dir/config.json
        echo "##vso[task.setvariable variable=azhpc.config]$AZHPC_CONFIG"

      failOnStandardError: false
    continueOnError: ${{ parameters.continueOnError }}
